.movieStars{
	display: inline-block;
}

.star{
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 2px;
}

.starFull{
	background-size: contain;
	background-image: url("img/star.svg");
}

.starEmpty{
	background-size: contain;
	background-image: url("img/star-empty.svg");
}
