.header{
    display: flex;
    height: 100px;
    background-color: #2b3035;
    font-family: Verdana, Arial, sans-serif;
    align-items: center;
}

.title{
    width: 100%;
}
.title a{
    text-align: center;
	font-size: 25px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
    color: #f5deb3;
    

}
.logOut{
    position: absolute;
    right: 50px;
    font-size: 14px;
    color:  #f5deb3;
    font-family: Verdana, Arial, sans-serif;
}

.btn--logOut{
    height: 30px;
    width: 80px;
    align-self: center;
    margin-left: 30px;
}

.unhide{
    visibility: visible;
}

.hide{
    visibility: hidden;
}

.langContainer{
    display: flex;
    position: absolute;
    left: 20px;
    width: 80px;
    height: 40px;    
}

.langContainer:hover{
    cursor: pointer;
}

